* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
    /* outline: 1px solid black !important;
    background: rgb(0 100 0 /0.1); */
  }

.header{
    background: url('../images/banner/banner3.png') no-repeat center center fixed;
    min-height: 710px; 
    width: 100%;
    background-repeat:no-repeat;
    background-size: 100% auto;
}
.title{
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    margin-top: 216px;
    margin-right: 230px;
    width: 525px;
    height: 228px;
    text-align: right;
}
.description{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-right: 230px;
    width: 494px;
    height: 78px;
    text-align: right;
}
.primary-btn{
    color: #005FAC;
    margin-right: 230px;
    padding: 10px;
    border-radius: 5px;
    border: 0;
}
.first-container{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
/* second section styles */
.second-container{
    display: flex;
    align-items:flex-end;
    gap: 87px;
}

  
section{
    margin: 60px 300px 60px 206px;

  }
.img{
    width: 569px;
    height: 723px;
  }
.inner-container{
    width: 416px;
    height: 392px;
}
.second-title{
    width: 288px;
    height: 94px;
    font-size: 40px;
    font-weight: 700;
    color: #151414;

  }
.second-description{
    width: 416px;
    height: 104px;
    font-weight: 400;
    font-size: 16px;

  }
  ul {
    list-style: none; 
    margin-left:0px;
    padding-left:0px;
  }
  ul li {
    padding-left: 2rem;
    background-image: url('../images/718731.png');
    background-position: 0 0;
    background-size: 1.6rem 1.2rem;
    background-repeat: no-repeat;
    margin-bottom: 8px;
     }
    